[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
